<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>PetstoreApiApp - Home Page</title>
</head>
<body>

<h1>PetstoreApiApp - Home Page</h1>

<p>Welcome to the PetstoreApiApp - Home Page</p>

<ul>
    <li><a href="http://localhost:8080/api/v1/pets" target="_blank">Pet page</a></li>
</ul>
<ul>
    <li><a href="http://localhost:8080/update-pet-with-form/3" target="_blank">Update the Pet</a></li>
</ul>

</body>
</html>
