<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Update the Pet</title>
</head>
<body>

<h1>Update the Pet</h1>

Update the Pet
<br/>

<!--<form method="post" th:action="@{http://localhost:8080/api/v1/pets/update-pet-with-form/{id}}" th:object="${id}">-->
<form method="post" action="http://localhost:8080/api/v1/pets/update-pet-with-form/2">
    <div>
        <label for="nameId">Pet name:</label>
        <input id="nameId" type="text" name="name"/>
    </div>
    <div>
        <label for="statusId">Pet status:</label>
        <input id="statusId" type="text" name="status"/>
    </div>
    <div>
        <label for="categoryId">Category:</label>
        <input id="categoryId" type="text" name="category"/>
    </div>
    <input type="submit">
</form>

</body>
</html>
