<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/images/Favicon.png}"/>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/boostrap_css_libs/bootstrap_v4.6.1/bootstrap.min.css}"/>

    <title>PetstoreApiApp - Home Page</title>
</head>
<body class="body">

<h1 class="page_title">PetstoreApiApp - Home Page</h1>

<br/>
<p>Welcome to the PetstoreApiApp - Home Page</p>

<ul>
    <li><a href="/pets-home" class="page_title_link" target="_blank">Display Pets Home</a></li>
</ul>

<script th:src="@{/js/bootstrap_js_libs/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/bootstrap_js_libs/bootstrap_v4.6.1/bootstrap.bundle.min.js}"></script>

</body>
</html>
