<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/images/Favicon.png}"/>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/boostrap_css_libs/bootstrap_v4.6.1/bootstrap.min.css}"/>

    <title>Pets Home</title>
</head>
<body class="body">

<h1 class="page_title">Pets Home</h1>

<br/>
<p>Welcome to the Pets Home</p>

<h2 class="pets_endpoints">Display all Pets</h2>
<div>
    <a href="/api/v1/pets" target="_blank">Display all Pets</a>
</div>

<h2 class="pets_endpoints">Find Pets by ID</h2>
<ul>
    <li>
        <a href="/api/v1/pets/1" class="page_title_link" target="_blank">
            http://localhost:8080/api/v1/pets/1
        </a>
    </li>
    <li>
        <a href="/api/v1/pets/2" class="page_title_link" target="_blank">
            http://localhost:8080/api/v1/pets/2
        </a>
    </li>
    <li>
        <a href="/api/v1/pets/3" class="page_title_link" target="_blank">
            http://localhost:8080/api/v1/pets/3
        </a>
    </li>
    <li>
        <a href="/api/v1/pets/4" class="page_title_link" target="_blank">
            http://localhost:8080/api/v1/pets/4
        </a>
    </li>
    <li>
        <a href="/api/v1/pets/2020" class="page_title_link" target="_blank">
            http://localhost:8080/api/v1/pets/2020
        </a>
    </li>
</ul>

<h2 class="pets_endpoints">Find Pets by Status</h2>
<ul>
    <li>
        <a href="/api/v1/pets?status=available" class="page_title_link" target="_blank">
            http://localhost:8080/api/v1/pets?status=available
        </a>
    </li>
    <li>
        <a href="/api/v1/pets?status=pending" class="page_title_link" target="_blank">
            http://localhost:8080/api/v1/pets?status=pending
        </a>
    </li>
    <li>
        <a href="/api/v1/pets?status=sold" class="page_title_link" target="_blank">
            http://localhost:8080/api/v1/pets?status=sold
        </a>
    </li>
    <li>
        <a href="/api/v1/pets?status=available,pending" class="page_title_link" target="_blank">
            http://localhost:8080/api/v1/pets?status=available,pending
        </a>
    </li>
    <li>
        <a href="/api/v1/pets?status=available,sold" class="page_title_link" target="_blank">
            http://localhost:8080/api/v1/pets?status=available,sold
        </a>
    </li>
    <li>
        <a href="/api/v1/pets?status=pending,sold" class="page_title_link" target="_blank">
            http://localhost:8080/api/v1/pets?status=pending,sold
        </a>
    </li>
    <li>
        <a href="/api/v1/pets?status=available,pending,sold" class="page_title_link" target="_blank">
            http://localhost:8080/api/v1/pets?status=available,pending,sold
        </a>
    </li>
</ul>

<h2 class="pets_endpoints">Update a Pet</h2>
<ul>
    <li><a href="/update-pet-with-form" class="page_title_link" target="_blank">Update a Pet</a></li>
</ul>

<!--<form th:action="@{/java/java-java-se-ge8/java-java-se-8-streams/java-java-se-8-streams-filter-examples}"
      method="post" th:object="${bean}">

    <div class="form-check">
        <label for="petId" class="form-check-label case_sensitive">Insert the ID of the pet:</label>
        <input id="petId" class="form-check-input" type="checkbox" checked
               th:field="*{beanField}"> &lt;!&ndash;<ajax/>&ndash;&gt;
        &lt;!&ndash;<label class="nearInputInfo">(ID of pet that needs to be updated)</label>&ndash;&gt;
    </div>

    <div class="form-check">
        <label for="petName" class="form-check-label case_sensitive">Insert the name of the pet:</label>
        <input id="petName" class="form-check-input" type="checkbox" checked
               th:field="*{beanField}"> &lt;!&ndash;<ajax/>&ndash;&gt;
        &lt;!&ndash;<label class="nearInputInfo">(Updated name of the pet)</label>&ndash;&gt;
    </div>

    <div class="form-check">
        <label for="petStatus" class="form-check-label case_sensitive">Insert the status of the pet:</label>
        <input id="petStatus" class="form-check-input" type="checkbox" checked
               th:field="*{beanField}"> &lt;!&ndash;<ajax/>&ndash;&gt;
        &lt;!&ndash;<label class="nearInputInfo">(Updated status of the pet)</label>&ndash;&gt;
    </div>

    <br/>

    <button type="submit" name="asd" class="btn btn-primary">Asd</button>
    &lt;!&ndash;<ajax execute="filterExpId" render="id1 id2"/>&ndash;&gt;
    <button type="submit" name="resetAsd" class="btn btn-primary">Reset</button>
    &lt;!&ndash;<ajax render="id1 id2"/> action="#{bean.reset}"&ndash;&gt;

</form>-->

<script th:src="@{/js/bootstrap_js_libs/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/bootstrap_js_libs/bootstrap_v4.6.1/bootstrap.bundle.min.js}"></script>

</body>
</html>
