<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/images/Favicon.png}"/>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/boostrap_css_libs/bootstrap_v4.6.1/bootstrap.min.css}"/>

    <title>Pets Home</title>
</head>
<body class="body">

<h1 class="page_title">Pets Home</h1>

<br/>
<p>Welcome to the Pets Home</p>

<h2 class="pets_endpoints">Display all Pets</h2>
<ul>
    <li><a href="/api/v1/pets" target="_blank">Display all Pets</a></li>
</ul>

<h2 class="pets_endpoints">Find Pets by ID</h2>
<ul>
    <li>
        <a href="/api/v1/pets/1" class="page_title_link" target="_blank">
            http://localhost:8080/api/v1/pets/1
        </a>
    </li>
    <li>
        <a href="/api/v1/pets/2" class="page_title_link" target="_blank">
            http://localhost:8080/api/v1/pets/2
        </a>
    </li>
    <li>
        <a href="/api/v1/pets/3" class="page_title_link" target="_blank">
            http://localhost:8080/api/v1/pets/3
        </a>
    </li>
    <li>
        <a href="/api/v1/pets/4" class="page_title_link" target="_blank">
            http://localhost:8080/api/v1/pets/4
        </a>
    </li>
    <li>
        <a href="/api/v1/pets/2020" class="page_title_link" target="_blank">
            http://localhost:8080/api/v1/pets/2020
        </a>
    </li>
</ul>

<h2 class="pets_endpoints">Find Pets by Status</h2>
<ul>
    <li>
        <a href="/api/v1/pets?status=available" class="page_title_link" target="_blank">
            http://localhost:8080/api/v1/pets?status=available
        </a>
    </li>
    <li>
        <a href="/api/v1/pets?status=pending" class="page_title_link" target="_blank">
            http://localhost:8080/api/v1/pets?status=pending
        </a>
    </li>
    <li>
        <a href="/api/v1/pets?status=sold" class="page_title_link" target="_blank">
            http://localhost:8080/api/v1/pets?status=sold
        </a>
    </li>
    <li>
        <a href="/api/v1/pets?status=available,pending" class="page_title_link" target="_blank">
            http://localhost:8080/api/v1/pets?status=available,pending
        </a>
    </li>
    <li>
        <a href="/api/v1/pets?status=available,sold" class="page_title_link" target="_blank">
            http://localhost:8080/api/v1/pets?status=available,sold
        </a>
    </li>
    <li>
        <a href="/api/v1/pets?status=pending,sold" class="page_title_link" target="_blank">
            http://localhost:8080/api/v1/pets?status=pending,sold
        </a>
    </li>
    <li>
        <a href="/api/v1/pets?status=available,pending,sold" class="page_title_link" target="_blank">
            http://localhost:8080/api/v1/pets?status=available,pending,sold
        </a>
    </li>
</ul>

<h2 class="pets_endpoints">Update a Pet</h2>
<ul>
    <li><a href="/update-pet-with-form" class="page_title_link" target="_blank">Update a Pet</a></li>
</ul>

<script th:src="@{/js/bootstrap_js_libs/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/bootstrap_js_libs/bootstrap_v4.6.1/bootstrap.bundle.min.js}"></script>

</body>
</html>
